<div *ngIf="pagination && pagination.totalItem > 0" class="paging">
  <button appIconButton background="bg-transparent" [disabled]="previousDisabled"
          (click)="previousRange()">
    <fa-icon [icon]="faAngleLeft" size="sm"></fa-icon>
  </button>
  <button appButton *ngFor="let page of pageList" [class.current]="currentPage == page"
          background="bg-transparent" (click)="updateCurrentPage(page)">
    {{page}}
  </button>
  <button appIconButton background="bg-transparent" size="20" [disabled]="nextDisabled"
          (click)="nextRange()">
    <fa-icon [icon]="faAngleRight" size="sm"></fa-icon>
  </button>
</div>
