<div class="main">
  <div class="form">
    <div class="form-group">
      <div class="image-preview">
        <img *ngIf="fileBase64" [src]="fileBase64" [alt]="file.name">
      </div>
      <div class="upload-group">
        <button appIconButton background="bg-orange" (click)="openFileDialog()">
          <fa-icon [icon]="faCameraRetro"></fa-icon>
        </button>
        <input #fileUpload type="file" [hidden]="true" accept="image/*" (change)="onFileSelected($event)">
        <div>Nhập / thay hình sản phẩm</div>
      </div>
    </div>

    <div class="form-group">
      <div class="group-title">Thông tin sản phẩm</div>
      <div class="input">
        <label>Tên sản phẩm</label>
        <input type="text" placeholder="Tên sản phẩm" appInput>
      </div>
      <div class="input-group">
        <div class="input">
          <label>Mã sản phẩm</label>
          <input type="text" placeholder="Mã sản phẩm" appInput>
        </div>
        <div class="input">
          <label>Hãng sản xuất</label>
          <input type="text" placeholder="Hãng sản xuất" appInput>
        </div>
      </div>
      <div class="input-group">
        <div class="input weight">
          <label>Khối lượng tối thiểu</label>
          <select id="weight" appSelect>
            <option value="1">One</option>
            <option value="2">Two</option>
          </select>
        </div>
        <div class="input">
          <label>Đơn vị</label>
          <select id="unit" appSelect>
            <option value="kilogram">KG</option>
            <option value="gram">G</option>
          </select>
        </div>
      </div>
      <div class="input">
        <label>Hãng sản xuất</label>
        <select id="producer" appSelect>
          <option value="vinamilk">Vinamilk</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div></div>
    </div>
  </div>
  <div class="table"></div>
</div>
