<div class="main">
  <div class="form">
    <div class="form-group">
      <div class="image-preview">
        <app-gallery-slider [urlPrefix]="imagePrefix" [imagesUrl]="product.ImagesPath" [width]="360" [height]="400"
                            [sliderHeight]="70" [imageSize]="60" (fileChange)="imagePathChange($event)"
                            (imageRemove)="removeImage($event)">
        </app-gallery-slider>
      </div>
      <div class="upload-group">
        <button appIconButton background="bg-orange" (click)="openFileDialog()">
          <fa-icon [icon]="faCameraRetro"></fa-icon>
        </button>
        <input #fileUpload type="file" [hidden]="true" accept="image/*" [multiple]="true"
               (change)="onFileSelected($event)">
        <div>Nhập / thay hình sản phẩm</div>
      </div>
    </div>

    <div class="form-group">
      <div class="group-title">Thông tin sản phẩm</div>
      <div class="input">
        <label>Tên sản phẩm</label>
        <input type="text" placeholder="Tên sản phẩm" [required]="true" [(ngModel)]="product.NameProduct" appInput>
      </div>
      <div class="input">
        <label>Loại sản phẩm</label>
        <mat-chip-list #productTypeChipList>
          <mat-chip *ngIf="product.TypeProductID" [selectable]="false" [removable]="true"
                    (removed)="product.TypeProductID = null">
            {{getProductType(product.TypeProductID)}}
            <button matChipRemove style="border: none; background: transparent; margin: 0 8px 8px 0;">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input *ngIf="!product.TypeProductID" placeholder="Loại sản phẩm"
                 [matAutocomplete]="productTypeAuto"
                 [matChipInputFor]="productTypeChipList"
                 [formControl]="productTypeFormControl" appInput>
          <mat-autocomplete #productTypeAuto="matAutocomplete" (optionSelected)="productTypeSelected($event)"
                            autoActiveFirstOption>
            <mat-option *ngFor="let type of productTypesAsync | async" [value]="type">
              <span>{{'&nbsp;'.repeat(type.level * 3) + type.NameType}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-chip-list>
        <!--        <select id="product-type" [(ngModel)]="product.TypeProductID" appSelect>-->
        <!--          <option *ngFor="let type of productTypes" [value]="type.TypeProductID">-->
        <!--            <span>{{'&nbsp;'.repeat(type.level * 3) + type.NameType}}</span>-->
        <!--          </option>-->
        <!--        </select>-->
      </div>
      <div class="input-group">
        <div class="input">
          <label>Mã sản phẩm</label>
          <input type="text" placeholder="Mã sản phẩm" [required]="true" [disabled]="true" [(ngModel)]="product.Code"
                 appInput>
        </div>
        <div class="input">
          <label>Hãng sản xuất</label>
          <!--          <input type="text" placeholder="Hãng sản xuất" [formControl]="producerFormControl" [matAutocomplete]="auto"-->
          <!--                 appInput>-->
          <mat-chip-list #producerChipList>
            <mat-chip *ngIf="product.ListProduction[0]" [selectable]="false" [removable]="true"
                      (removed)="product.ListProduction = []">
              {{product.ListProduction[0].NameProduction}}
              <button matChipRemove style="border: none; background: transparent; margin: 0 8px 8px 0;">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input *ngIf="!product.ListProduction[0]" placeholder="Hãng sản xuất"
                   [matAutocomplete]="producerAuto"
                   [matChipInputFor]="producerChipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="addProducer($event)"
                   [formControl]="producerFormControl" appInput>
            <mat-autocomplete #producerAuto="matAutocomplete" autoActiveFirstOption
                              (optionSelected)="producerSelected($event)">
              <mat-option *ngFor="let producer of producersAsync | async"
                          [value]="producer">
                {{producer.NameProduction}}
              </mat-option>
            </mat-autocomplete>
          </mat-chip-list>
        </div>
      </div>
      <div class="input-group">
        <div class="input weight">
          <label>Khối lượng tối thiểu</label>
          <input placeholder="Khối lượng tối thiểu" [min]="1" type="number" appInput [(ngModel)]="product.MinQuantity">
        </div>
        <div class="input">
          <label>Đơn vị</label>
          <input placeholder="Đơn vị" appInput [(ngModel)]="product.Unit">
        </div>
      </div>
      <div class="input-group">
        <div class="input checkbox">
          <label>FIFO</label>
          <input type="checkbox" appInput [(ngModel)]="product.FIFO">
        </div>

        <div class="input checkbox">
          <label>Sản phẩm đặc biệt</label>
          <input type="checkbox" appInput [(ngModel)]="product.IsSpecical">
        </div>
      </div>
      <div class="input-group">
        <div class="input checkbox">
          <label>Hiển thị ở trang chủ</label>
          <input type="checkbox" appInput [(ngModel)]="product.IsHome">
        </div>

        <div class="input checkbox">
          <label>Sản phẩm phổ biến</label>
          <input type="checkbox" appInput [(ngModel)]="product.IsStandard">
        </div>
      </div>
      <div class="input-group">
        <div class="input checkbox">
          <label>Sản phẩm bán chạy</label>
          <input type="checkbox" appInput [(ngModel)]="product.IsBestSell">
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="!isCreated">
      <div class="group-title">Đặc tả sản phẩm</div>
      <ng-container *ngIf="product.ListSpec1.length != 0">
        <div class="input">
          <label>Tên đặc tả</label>
          <div class="has-delete">
            <div class="spec-item" style="flex: 1" (click)="openModalEditSpec('edit-spec-modal', product.ListSpec1[0])">
              {{product.ListSpec1[0].SpecName}}
            </div>
            <!--            <input type="text" appInput [(ngModel)]="product.ListSpec1[0].SpecName" width="320">-->
          </div>
        </div>
        <div class="input">
          <label>Giá trị</label>
          <div class="input-list">
            <ng-container *ngFor="let spec of product.ListSpec1; index as index">
              <div class="spec-item"
                   (click)="openModalEditSpecItem('edit-spec-item-modal', spec, product.ListSpec1, [])"
                   *ngIf="spec.ParentID">
                {{spec.SpecName}}
              </div>
              <!--              <input *ngIf="index != 0" type="text" appInput [width]="70" [value]="spec.SpecName">-->
            </ng-container>
            <input type="text" appInput [width]="100" [(ngModel)]="newSpec1">
            <button appIconButton background="bg-orange"
                    (click)="addSpecItem1(1, newSpec1, product.ListSpec1[0].SpecID)">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
            <!--            <button appIconButton background="bg-orange"-->
            <!--                    (click)="openModalAddSpecItem('add-spec-item-modal', product.ListSpec1[0])">-->
            <!--              <fa-icon [icon]="faPlus"></fa-icon>-->
            <!--            </button>-->
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="product.ListSpec2.length != 0">
        <div class="input">
          <label>Tên đặc tả</label>
          <div class="has-delete">
            <!--            <input type="text" appInput [(ngModel)]="product.ListSpec2[0].SpecName" width="320">-->
            <div class="spec-item" style="flex: 1" (click)="openModalEditSpec('edit-spec-modal', product.ListSpec2[0])">
              {{product.ListSpec2[0].SpecName}}
            </div>
          </div>
        </div>
        <div class="input">
          <label>Giá trị</label>
          <div class="input-list">
            <ng-container *ngFor="let spec of product.ListSpec2; index as index">
              <div class="spec-item"
                   (click)="openModalEditSpecItem('edit-spec-item-modal', spec, product.ListSpec2, product.ListSpec1)"
                   *ngIf="spec.ParentID">
                {{spec.SpecName}}
              </div>
              <!--              <input *ngIf="index != 0" type="text" appInput [width]="70" [value]="spec.SpecName">-->
            </ng-container>
            <input type="text" appInput [width]="100" [(ngModel)]="newSpec2">
            <button appIconButton background="bg-orange"
                    (click)="addSpecItem1(2, newSpec2, product.ListSpec2[0].SpecID)">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
            <!--            <button appIconButton background="bg-orange"-->
            <!--                    (click)="openModalAddSpecItem('add-spec-item-modal', product.ListSpec2[0])">-->
            <!--              <fa-icon [icon]="faPlus"></fa-icon>-->
            <!--            </button>-->
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="product.ListSpec3.length != 0">
        <div class="input">
          <label>Tên đặc tả</label>
          <div class="has-delete">
            <!--            <input type="text" appInput [(ngModel)]="product.ListSpec3[0].SpecName" width="320">-->
            <div class="spec-item" style="flex: 1" (click)="openModalEditSpec('edit-spec-modal', product.ListSpec3[0])">
              {{product.ListSpec3[0].SpecName}}
            </div>
          </div>
        </div>
        <div class="input">
          <label>Giá trị</label>
          <div class="input-list">
            <ng-container *ngFor="let spec of product.ListSpec3; index as index">
              <div class="spec-item"
                   (click)="openModalEditSpecItem('edit-spec-item-modal', spec, product.ListSpec3, product.ListSpec2)"
                   *ngIf="spec.ParentID">
                {{spec.SpecName}}
              </div>
            </ng-container>
            <input type="text" appInput [width]="100" [(ngModel)]="newSpec3">
            <button appIconButton background="bg-orange"
                    (click)="addSpecItem1(3, newSpec3, product.ListSpec3[0].SpecID)">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
            <!--            <button appIconButton background="bg-orange"-->
            <!--                    (click)="openModalAddSpecItem('add-spec-item-modal', product.ListSpec3[0])">-->
            <!--              <fa-icon [icon]="faPlus"></fa-icon>-->
            <!--            </button>-->
          </div>
        </div>
      </ng-container>
      <div *ngIf="!product.ListSpec3 || product.ListSpec3.length === 0">
        <button appButton background="bg-dark" (click)="openModal('add-spec-modal')">
          <fa-icon [icon]="faPlus"></fa-icon>
          <label>Thêm đặc tả</label>
        </button>
      </div>
    </div>
    <div class="form-group">
      <div class="group-title">Giá và chiết khấu</div>
      <div class="input-group">
        <div class="input">
          <label>Giá</label>
          <input type="text" [min]="0" appInput mvndrMatCurrencyFormat
                 [allowNegative]="false" [currencyCode]="'VND'" [value]="product.AmountSaleMuilti"
                 (blur)="updateProductAmountSaleMulti($event)">
        </div>
        <div class="input">
          <label>Chiết khấu</label>
          <input type="number" [min]="0" appInput [(ngModel)]="product.DiscountProvider">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="group-title">Thông tin chi tiết</div>
      <div class="input">
        <label>Mô tả ngắn</label>
        <ckeditor [(ngModel)]="product.ShortDescription" [editor]="Editor" (ready)="onReady($event)"></ckeditor>
      </div>
      <div class="input">
        <label>Chi tiết</label>
        <ckeditor [editor]="Editor" [(ngModel)]="product.Description" (ready)="onReady($event)"></ckeditor>
      </div>
    </div>
    <div class="form-group">
      <div class="group-title">Thông số kỹ thuật</div>
      <div class="tech-info-table">
        <table class="core-table even-separate">
          <tbody>
          <tr *ngFor="let techInfo of techInfoList; trackBy: trackByFn">
            <td>
              <input appInput [(ngModel)]="techInfo.key">
            </td>
            <td>
              <input appInput [(ngModel)]="techInfo.value">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="input-group">
        <input [(ngModel)]="techKey" type="text" appInput>
        <input [(ngModel)]="techValue" type="text" appInput>
      </div>
      <div style="display: flex; gap: 5px">
        <button appIconButton background="bg-orange" (click)="addTechInfoLine()">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
        <button appIconButton background="bg-red" matTooltip="Xóa dòng cuối cùng" [matTooltipPosition]="'right'"
                (click)="removeLastTechInfoLine()">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    </div>
    <div class="form-group">
      <div style="display: flex; gap: 10px">
        <button style="flex: 1" routerLink="../" queryParamsHandling="preserve" [queryParams]="{category: category}">Về
          danh sách
        </button>
        <button style="flex: 1" *ngIf="!isCreated" [disabled]="user.TypeUser == 3 || user.TypeUser == 4"
                background="bg-orange" appButton (click)="saveChange()">Lưu thay
          đổi
        </button>
        <button style="flex: 1" *ngIf="isCreated" [disabled]="user.TypeUser == 3 || user.TypeUser == 4"
                background="bg-orange" appButton (click)="createProduct()">Tạo sản
          phẩm
        </button>
      </div>
      <div style="display: flex" *ngIf="!isCreated && product.Status">
        <button style="flex: 1" appButton background="bg-red" [disabled]="user.TypeUser == 3 || user.TypeUser == 4"
                (click)="hideProduct(product)">Ẩn sản phẩm
        </button>
      </div>
    </div>
  </div>


  <div class="helios-table">
    <table appTable [isEvenSeparate]="true">
      <thead>
      <tr>
        <th style="min-width: 100px" *ngIf="product.ListSpec1.length != 0">{{product.ListSpec1[0]?.SpecName}}</th>
        <th style="min-width: 100px" *ngIf="product.ListSpec2.length != 0">{{product.ListSpec2[0]?.SpecName}}</th>
        <th style="min-width: 100px" *ngIf="product.ListSpec3.length != 0">{{product.ListSpec3[0]?.SpecName}}</th>
        <th style="min-width: 100px">Kho</th>
        <th style="min-width: 100px">Đơn vị</th>
        <th style="min-width: 150px">Giá</th>
        <th>Chiết khấu</th>
        <th>Tối thiểu</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let price of pagination.data">
        <td style="min-width: 100px"
            *ngIf="product.ListSpec1.length != 0">{{findSpecName(product.ListSpec1, price.SpecID1)}}</td>
        <td style="min-width: 100px"
            *ngIf="product.ListSpec2.length != 0">{{findSpecName(product.ListSpec2, price.SpecID2)}}</td>
        <td style="min-width: 100px"
            *ngIf="product.ListSpec3.length != 0">{{findSpecName(product.ListSpec3, price.SpecID3)}}</td>
        <td style="min-width: 100px">{{getStoreName(price.StoreID)}}</td>
        <td style="min-width: 100px">{{product.Unit}}</td>
        <td style="min-width: 150px">
          <input type="text" min="0" appInput mvndrMatCurrencyFormat
                 [allowNegative]="false" [currencyCode]="'VND'" [value]="price.Prices"
                 (blur)="updatePrice(price, $event)">
        </td>
        <td>{{product.DiscountProvider}}</td>
        <td>{{product.MinQuantity}}</td>
        <td style="min-width: 70px">
          <div class="icon-group">
            <button appIconButton background="bg-orange" (click)="savePrice(price)">
              <fa-icon [icon]="faSave"></fa-icon>
            </button>
            <button appIconButton background="bg-red" matTooltip="Nhấn 2 lần để xóa" [matTooltipPosition]="'above'"
                    (dblclick)="deletePrice(price)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
      <tr *ngIf="!product.ListPrices || product.ListPrices.length == 0">
        <td colspan="10" style="text-align: center">Chưa có dữ liệu</td>
      </tr>
      </tbody>
    </table>
    <div class="paging">
      <app-pagination [pagination]="pagination" (pageChange)="onPageChange($event)"></app-pagination>
    </div>
  </div>
</div>

<app-modal id="add-spec-modal" [width]="500" [contentTemplate]="addSpecModal"></app-modal>
<app-modal id="edit-spec-modal" [width]="500" [contentTemplate]="editSpecModal"></app-modal>
<app-modal id="edit-spec-item-modal" [width]="500" [contentTemplate]="editSpecItemModal"></app-modal>
<app-modal id="add-spec-item-modal" [width]="500" [contentTemplate]="addSpecItemModal"></app-modal>

<ng-template #addSpecModal>
  <app-modal-header>
    <div class="modal-title">
      <div class="title">Thêm đặc tả</div>
    </div>
    <div>
      <button appIconButton background="bg-transparent" (click)="closeModal('add-spec-modal')">
        <fa-icon size="lg" [icon]="faTimesCircle"></fa-icon>
      </button>
    </div>
  </app-modal-header>
  <app-modal-body>
    <form [formGroup]="addSpecFormGroup" class="modal-form">
      <div class="input">
        <label>Mã đặc tả</label>
        <input [required]="true" formControlName="Code" placeholder="Mã đặc tả" type="text" appInput>
      </div>
      <div class="input">
        <label>Tên đặc tả</label>
        <input [required]="true" formControlName="SpecName" placeholder="Tên đặc tả" type="text" appInput>
      </div>
      <div class="input">
        <label>Trạng thái</label>
        <select [required]="true" formControlName="Status" appSelect>
          <option [value]="1">Kích hoạt</option>
          <option [value]="0">Hủy kích hoạt</option>
        </select>
      </div>
    </form>
  </app-modal-body>
  <app-modal-footer>
    <div class="right-section">
      <div class="btn-group">
        <button appButton background="bg-gray" (click)="closeModal('edit-spec-modal')">Đóng</button>
        <button appButton background="bg-orange" (click)="addSpec()">Lưu lại</button>
      </div>
    </div>
  </app-modal-footer>
</ng-template>

<ng-template #editSpecModal>
  <app-modal-header>
    <div class="modal-title">
      <div class="title">Sửa đặc tả</div>
    </div>
    <div>
      <button appIconButton background="bg-transparent" (click)="closeModal('edit-spec-modal')">
        <fa-icon size="lg" [icon]="faTimesCircle"></fa-icon>
      </button>
    </div>
  </app-modal-header>
  <app-modal-body>
    <div class="modal-form">
      <div class="input">
        <label>Mã đặc tả</label>
        <input [required]="true" [disabled]="true" [(ngModel)]="editingSpecItem.Code" placeholder="Mã đặc tả"
               type="text" appInput>
      </div>
      <div class="input">
        <label>Tên đặc tả</label>
        <input [required]="true" [(ngModel)]="editingSpecItem.SpecName" placeholder="Tên đặc tả" type="text" appInput>
      </div>
      <div class="input">
        <label>Trạng thái</label>
        <select [required]="true" [disabled]="true" [(ngModel)]="editingSpecItem.Status" appSelect>
          <option [value]="1">Kích hoạt</option>
          <option [value]="0">Hủy kích hoạt</option>
        </select>
      </div>
    </div>
  </app-modal-body>
  <app-modal-footer>
    <div class="left-section">
      <button appButton background="bg-red" (click)="deleteMainSpec()">Xóa</button>
    </div>
    <div class="right-section">
      <div class="btn-group">
        <button appButton background="bg-gray" (click)="closeModal('edit-spec-modal')">Đóng</button>
        <button appButton background="bg-orange" (click)="updateSpec()">Lưu lại</button>
      </div>
    </div>
  </app-modal-footer>
</ng-template>

<ng-template #addSpecItemModal>
  <app-modal-header>
    <div class="modal-title">
      <div class="title">Thêm lựa chọn</div>
      <div class="description">Thêm thông tin cho lựa chọn này</div>
    </div>
    <div>
      <button appIconButton background="bg-transparent" (click)="closeModal('add-spec-item-modal')">
        <fa-icon size="lg" [icon]="faTimesCircle"></fa-icon>
      </button>
    </div>
  </app-modal-header>
  <app-modal-body>
    <form [formGroup]="addSpecFormGroup" class="modal-form">
      <div class="input">
        <label>Mã lựa chọn</label>
        <input type="text" appInput formControlName="Code">
      </div>
      <div class="input">
        <label>Tên lựa chọn</label>
        <input type="text" appInput formControlName="SpecName">
      </div>
      <div class="input">
        <label>Trạng thái</label>
        <select formControlName="Status" appSelect>
          <option [value]="1">Kích hoạt</option>
          <option [value]="0">Hủy kích hoạt</option>
        </select>
      </div>
    </form>
  </app-modal-body>
  <app-modal-footer>
    <div class="right-section">
      <div class="btn-group">
        <button appButton background="bg-gray" (click)="closeModal('add-spec-item-modal')">Đóng</button>
        <button appButton background="bg-orange" (click)="addSpecItem()">Tạo lựa chọn</button>
      </div>
    </div>
  </app-modal-footer>
</ng-template>

<ng-template #editSpecItemModal>
  <app-modal-header>
    <div class="modal-title">
      <div class="title">Cập nhật lựa chọn</div>
      <div class="description">Chỉnh sửa thông tin hoặc xóa lựa chọn này</div>
    </div>
    <div>
      <button appIconButton background="bg-transparent" (click)="closeModal('edit-spec-item-modal')">
        <fa-icon size="lg" [icon]="faTimesCircle"></fa-icon>
      </button>
    </div>
  </app-modal-header>
  <app-modal-body>
    <div class="modal-form" *ngIf="editingSpecItem">
      <div class="input">
        <label>Mã lựa chọn</label>
        <input [disabled]="true" [required]="true" type="text" appInput [(ngModel)]="editingSpecItem.Code">
      </div>
      <div class="input">
        <label>Tên lựa chọn</label>
        <input [required]="true" type="text" appInput [(ngModel)]="editingSpecItem.SpecName">
      </div>
      <div class="input">
        <label>Trạng thái</label>
        <select [disabled]="true" [required]="true" [(ngModel)]="editingSpecItem.Status" appSelect>
          <option [value]="1">Kích hoạt</option>
          <option [value]="0">Hủy kích hoạt</option>
        </select>
      </div>
      <div class="input" *ngIf="specParents?.length > 0">
        <label>Quan hệ liên kết</label>
        <div class="relationship">
          <div *ngFor="let spec of specParents">
            <div *ngIf="spec.ParentID">
              <input type="checkbox" appInput [checked]="idSpecCheck(editingSpecItem, spec.SpecID)"
                     (change)="specRelationshipChange($event, editingSpecItem.SpecID, spec.SpecID)">
              <label>{{spec.SpecName}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-modal-body>
  <app-modal-footer>
    <div class="left-section">
      <button appButton background="bg-red" (click)="deleteSpec()">Xóa</button>
    </div>
    <div class="right-section">
      <div class="btn-group">
        <button appButton background="bg-gray" (click)="closeModal('edit-spec-item-modal')">Đóng</button>
        <button appButton background="bg-orange" (click)="updateSpecItem()">Lưu lại</button>
      </div>
    </div>
  </app-modal-footer>
</ng-template>
