@import "src/app/shared/scss/core-variables";

.main {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  padding: 30px 0;

  .form {
    width: 400px;
    display: flex;
    flex-direction: column;

    .form-group {
      background: $color-gray-l7;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;

      &:not(:last-child) {
        border-bottom: 1px solid $color-gray-l5;
      }

      .image-preview {
        min-height: 300px;
        width: 100%;
        background: $color-white-l1;
        border: 1px solid $color-gray-l5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .main-img {
          object-fit: scale-down;
          height: 300px;
          width: 100%;
        }


        .sub-images {
          height: 70px;
          display: flex;
          justify-content: space-evenly;
          border-top: 1px solid $color-gray-l5;
          overflow: hidden;

          .sub-img {
            flex: 1;
            padding: 5px;
            align-items: center;
            display: flex;

            &:not(:last-child) {
              border-right: 1px solid $color-gray-l5;
            }

            img {
              margin: auto;
              object-fit: scale-down;
              height: 60px;
              width: 60px;
            }
          }
        }
      }

      .upload-group {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      .group-title {
        font-size: 16px;
        font-weight: 600;
      }


      .weight {
        flex: 1;
      }
    }
  }

  .helios-table {
    flex: 1;
  }
}

.input-group {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    font-weight: 500;
  }

  .input-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  &.checkbox {
    flex: 1;
  }
}

.spec-item {
  background: $color-white-l1;
  padding: 5px 15px;
  border: 1px solid $color-gray-l3;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0 2px 6px, rgba(0, 0, 0, 0.08) 0 1px 3px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.relationship {
  display: flex;
  gap: 20px;

  input {
    margin-right: 5px;
  }
}

.buttoncss {
  float: right;
  width: 32px;
  margin-right: 2px;
}

.tech-info-table {
  table {
    ::ng-deep {
      tbody, td, tr {
        border-width: 1px;
      }

      td {
        width: 50%;
      }
    }
  }
}

.level-0 {
  background-color: $color-gray-l3;
}

.level-1 {
  background-color: $color-gray-l5;
}

.level-2 {
  background-color: $color-gray-l7;
}

.has-delete {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;

  button {
    width: 32px;
  }
}
