<div class="main">
  <div class="form">
    <div class="form-group">
      <div class="image-preview">
        <img *ngIf="product.ImagesPath" [src]="getUrl(product)" [alt]="product.NameProduct">
      </div>
      <div class="upload-group">
        <button appIconButton background="bg-orange" (click)="openFileDialog()">
          <fa-icon [icon]="faCameraRetro"></fa-icon>
        </button>
        <input #fileUpload type="file" [hidden]="true" accept="image/*" (change)="onFileSelected($event)">
        <div>Nhập / thay hình sản phẩm</div>
      </div>
    </div>

    <div class="form-group">
      <div class="group-title">Thông tin sản phẩm</div>
      <div class="input">
        <label>Tên sản phẩm</label>
        <input type="text" placeholder="Tên sản phẩm" [required]="true" [(ngModel)]="product.NameProduct" appInput>
      </div>
      <div class="input">
        <label>Loại sản phẩm</label>
        <select id="product-type" [(ngModel)]="product.TypeProductID" appSelect>
          <option *ngFor="let type of productTypes" [value]="type.TypeProductID">{{type.NameType}}</option>
        </select>
      </div>
      <div class="input-group">
        <div class="input">
          <label>Mã sản phẩm</label>
          <input type="text" placeholder="Mã sản phẩm" [required]="true" [(ngModel)]="product.Code" appInput>
        </div>
        <div class="input">
          <label>Hãng sản xuất</label>
          <select id="producers" placeholder="Hãng sản xuất" [(ngModel)]="producerCode" appSelect
                  (ngModelChange)="producerChange()">
            <option *ngFor="let producer of producers" [value]="producer.Code">{{producer.NameProduction}}</option>
          </select>
        </div>
      </div>
      <div class="input-group">
        <div class="input weight">
          <label>Khối lượng tối thiểu</label>
          <input placeholder="Khối lượng tối thiểu" [min]="1" type="number" appInput [(ngModel)]="product.MinQuantity">
        </div>
        <div class="input">
          <label>Đơn vị</label>
          <input placeholder="Đơn vị" appInput [(ngModel)]="product.Unit">
        </div>
      </div>
      <div class="input-group">
        <div class="input checkbox">
          <label>Trạng thái</label>
          <input type="checkbox" appInput [(ngModel)]="product.Status">
        </div>

        <div class="input checkbox">
          <label>FIFO</label>
          <input type="checkbox" appInput [(ngModel)]="product.FIFO">
        </div>
      </div>
      <div class="input-group">
        <div class="input checkbox">
          <label>Hiển thị ở trang chủ</label>
          <input type="checkbox" appInput [(ngModel)]="product.IsHome">
        </div>

        <div class="input checkbox">
          <label>Sản phẩm phổ biến</label>
          <input type="checkbox" appInput [(ngModel)]="product.IsStandard">
        </div>
      </div>
      <div class="input-group">
        <div class="input checkbox">
          <label>Sản phẩm bán chạy</label>
          <input type="checkbox" appInput [(ngModel)]="product.IsBestSell">
        </div>

        <div class="input checkbox">
          <label>Sản phẩm đặc biệt</label>
          <input type="checkbox" appInput [(ngModel)]="product.IsSpecical">
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="!isCreated">
      <div class="group-title">Đặc tả sản phẩm</div>
      <ng-container *ngIf="product.ListSpec1.length != 0">
        <div class="input">
          <label>Tên đặc tả</label>
          <input type="text" appInput [(ngModel)]="product.ListSpec1[0].SpecName">
        </div>
        <div class="input">
          <label>Giá trị</label>
          <div class="input-list">
            <ng-container *ngFor="let spec of product.ListSpec1; index as index">
              <div class="spec-item"
                   (click)="openModalEditSpecItem('edit-spec-item-modal', spec, product.ListSpec1, [])"
                   *ngIf="index != 0">
                {{spec.SpecName}}
              </div>
              <!--              <input *ngIf="index != 0" type="text" appInput [width]="70" [value]="spec.SpecName">-->
            </ng-container>
            <input type="text" appInput [width]="100" [(ngModel)]="newSpec1">
            <button appIconButton background="bg-orange"
                    (click)="addSpecItem1(1, newSpec1, product.ListSpec1[0].SpecID)">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
            <!--            <button appIconButton background="bg-orange"-->
            <!--                    (click)="openModalAddSpecItem('add-spec-item-modal', product.ListSpec1[0])">-->
            <!--              <fa-icon [icon]="faPlus"></fa-icon>-->
            <!--            </button>-->
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="product.ListSpec2.length != 0">
        <div class="input">
          <label>Tên đặc tả</label>
          <input type="text" appInput [(ngModel)]="product.ListSpec2[0].SpecName">
        </div>
        <div class="input">
          <label>Giá trị</label>
          <div class="input-list">
            <ng-container *ngFor="let spec of product.ListSpec2; index as index">
              <div class="spec-item"
                   (click)="openModalEditSpecItem('edit-spec-item-modal', spec, product.ListSpec2, product.ListSpec1)"
                   *ngIf="index != 0">
                {{spec.SpecName}}
              </div>
              <!--              <input *ngIf="index != 0" type="text" appInput [width]="70" [value]="spec.SpecName">-->
            </ng-container>
            <input type="text" appInput [width]="100" [(ngModel)]="newSpec2">
            <button appIconButton background="bg-orange"
                    (click)="addSpecItem1(2, newSpec2, product.ListSpec2[0].SpecID)">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
            <!--            <button appIconButton background="bg-orange"-->
            <!--                    (click)="openModalAddSpecItem('add-spec-item-modal', product.ListSpec2[0])">-->
            <!--              <fa-icon [icon]="faPlus"></fa-icon>-->
            <!--            </button>-->
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="product.ListSpec3.length != 0">
        <div class="input">
          <label>Tên đặc tả</label>
          <input type="text" appInput [(ngModel)]="product.ListSpec3[0].SpecName">
        </div>
        <div class="input">
          <label>Giá trị</label>
          <div class="input-list">
            <ng-container *ngFor="let spec of product.ListSpec3; index as index">
              <div class="spec-item"
                   (click)="openModalEditSpecItem('edit-spec-item-modal', spec, product.ListSpec3, product.ListSpec2)"
                   *ngIf="index != 0">
                {{spec.SpecName}}
              </div>
            </ng-container>
            <input type="text" appInput [width]="100" [(ngModel)]="newSpec3">
            <button appIconButton background="bg-orange"
                    (click)="addSpecItem1(3, newSpec3, product.ListSpec3[0].SpecID)">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
            <!--            <button appIconButton background="bg-orange"-->
            <!--                    (click)="openModalAddSpecItem('add-spec-item-modal', product.ListSpec3[0])">-->
            <!--              <fa-icon [icon]="faPlus"></fa-icon>-->
            <!--            </button>-->
          </div>
        </div>
      </ng-container>
      <div *ngIf="!product.ListSpec3 || product.ListSpec3.length === 0">
        <button appButton background="bg-dark" (click)="openModal('add-spec-modal')">
          <fa-icon [icon]="faPlus"></fa-icon>
          <label>Thêm đặc tả</label>
        </button>
      </div>
    </div>
    <div class="form-group">
      <div class="group-title">Giá và chiết khấu</div>
      <div class="input-group">
        <div class="input">
          <label>Giá</label>
          <input type="number" [min]="0" appInput [(ngModel)]="product.AmountSale">
        </div>
        <div class="input">
          <label>Chiết khấu</label>
          <input type="number" [min]="0" appInput [(ngModel)]="product.DiscountProvider">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="group-title">Mô tả</div>
      <ckeditor [(ngModel)]="product.Description"></ckeditor>
    </div>
    <div class="form-group">
      <div class="group-title">Thông số kỹ thuật</div>
      <div class="tech-info-table">
        <table class="core-table even-separate">
          <tbody [innerHTML]="trustHtml(product.InformationTech)">
          </tbody>
        </table>
      </div>
      <div class="input-group">
        <input [(ngModel)]="techKey" type="text" appInput>
        <input [(ngModel)]="techValue" type="text" appInput>
      </div>
      <button appIconButton background="bg-orange" (click)="addTechInfoLine()">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
    <div class="form-group">
      <button *ngIf="!isCreated" background="bg-orange" appButton (click)="saveChange()">Lưu thay đổi</button>
      <button *ngIf="isCreated" background="bg-orange" appButton (click)="createProduct()">Tạo sản phẩm</button>
    </div>
  </div>


  <div class="helios-table">
    <table appTable [isEvenSeparate]="true">
      <thead>
      <tr>
        <th *ngIf="product.ListSpec1.length != 0">{{product.ListSpec1[0]?.SpecName}}</th>
        <th *ngIf="product.ListSpec2.length != 0">{{product.ListSpec2[0]?.SpecName}}</th>
        <th *ngIf="product.ListSpec3.length != 0">{{product.ListSpec3[0]?.SpecName}}</th>
        <th>Kho</th>
        <th>Đơn vị</th>
        <th style="min-width: 150px">Giá</th>
        <th>Chiết khấu</th>
        <th>Tối thiểu</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let price of pagination.data">
        <td *ngIf="product.ListSpec1.length != 0">{{findSpecName(product.ListSpec1, price.SpecID1)}}</td>
        <td *ngIf="product.ListSpec2.length != 0">{{findSpecName(product.ListSpec2, price.SpecID2)}}</td>
        <td *ngIf="product.ListSpec3.length != 0">{{findSpecName(product.ListSpec3, price.SpecID3)}}</td>
        <td>{{getStoreName(price.StoreID)}}</td>
        <td>{{product.Unit}}</td>
        <td style="min-width: 150px">
          <input type="text" min="0" [(ngModel)]="price.Prices" appInput>
        </td>
        <td>{{product.DiscountProvider}}</td>
        <td>{{product.MinQuantity}}</td>
        <td>
          <button appIconButton background="bg-orange" (click)="savePrice(price)">
            <fa-icon [icon]="faSave"></fa-icon>
          </button>
        </td>
      </tr>
      <tr *ngIf="!product.ListPrices || product.ListPrices.length == 0">
        <td colspan="10" style="text-align: center">Chưa có dữ liệu</td>
      </tr>
      </tbody>
    </table>
    <div class="paging">
      <app-pagination [pagination]="pagination" (pageChange)="onPageChange($event)"></app-pagination>
    </div>
  </div>
</div>

<app-modal id="add-spec-modal" [width]="500" [contentTemplate]="addSpecModal"></app-modal>
<app-modal id="edit-spec-item-modal" [width]="500" [contentTemplate]="editSpecItemModal"></app-modal>
<app-modal id="add-spec-item-modal" [width]="500" [contentTemplate]="addSpecItemModal"></app-modal>

<ng-template #addSpecModal>
  <app-modal-header>
    <div class="modal-title">
      <div class="title">Thêm đặc tả</div>
    </div>
    <div>
      <button appIconButton background="bg-transparent" (click)="closeModal('add-spec-modal')">
        <fa-icon size="lg" [icon]="faTimesCircle"></fa-icon>
      </button>
    </div>
  </app-modal-header>
  <app-modal-body>
    <form [formGroup]="addSpecFormGroup" class="modal-form">
      <div class="input">
        <label>Mã đặc tả</label>
        <input [required]="true" formControlName="Code" placeholder="Mã đặc tả" type="text" appInput>
      </div>
      <div class="input">
        <label>Tên đặc tả</label>
        <input [required]="true" formControlName="SpecName" placeholder="Tên đặc tả" type="text" appInput>
      </div>
      <div class="input">
        <label>Trạng thái</label>
        <select [required]="true" formControlName="Status" appSelect>
          <option [value]="1">Kích hoạt</option>
          <option [value]="0">Hủy kích hoạt</option>
        </select>
      </div>
    </form>
  </app-modal-body>
  <app-modal-footer>
    <div class="right-section">
      <div class="btn-group">
        <button appButton background="bg-gray" (click)="closeModal('add-spec-modal')">Đóng</button>
        <button appButton background="bg-orange" (click)="addSpec()">Lưu lại</button>
      </div>
    </div>
  </app-modal-footer>
</ng-template>


<ng-template #addSpecItemModal>
  <app-modal-header>
    <div class="modal-title">
      <div class="title">Thêm lựa chọn</div>
      <div class="description">Thêm thông tin cho lựa chọn này</div>
    </div>
    <div>
      <button appIconButton background="bg-transparent" (click)="closeModal('add-spec-item-modal')">
        <fa-icon size="lg" [icon]="faTimesCircle"></fa-icon>
      </button>
    </div>
  </app-modal-header>
  <app-modal-body>
    <form [formGroup]="addSpecFormGroup" class="modal-form">
      <div class="input">
        <label>Mã lựa chọn</label>
        <input type="text" appInput formControlName="Code">
      </div>
      <div class="input">
        <label>Tên lựa chọn</label>
        <input type="text" appInput formControlName="SpecName">
      </div>
      <div class="input">
        <label>Trạng thái</label>
        <select formControlName="Status" appSelect>
          <option [value]="1">Kích hoạt</option>
          <option [value]="0">Hủy kích hoạt</option>
        </select>
      </div>
    </form>
  </app-modal-body>
  <app-modal-footer>
    <div class="right-section">
      <div class="btn-group">
        <button appButton background="bg-gray" (click)="closeModal('add-spec-item-modal')">Đóng</button>
        <button appButton background="bg-orange" (click)="addSpecItem()">Tạo lựa chọn</button>
      </div>
    </div>
  </app-modal-footer>
</ng-template>

<ng-template #editSpecItemModal>
  <app-modal-header>
    <div class="modal-title">
      <div class="title">Cập nhật lựa chọn</div>
      <div class="description">Chỉnh sửa thông tin hoặc xóa lựa chọn này</div>
    </div>
    <div>
      <button appIconButton background="bg-transparent" (click)="closeModal('edit-spec-item-modal')">
        <fa-icon size="lg" [icon]="faTimesCircle"></fa-icon>
      </button>
    </div>
  </app-modal-header>
  <app-modal-body>
    <div class="modal-form" *ngIf="editingSpecItem">
      <div class="input">
        <label>Mã lựa chọn</label>
        <input [required]="true" type="text" appInput [(ngModel)]="editingSpecItem.Code">
      </div>
      <div class="input">
        <label>Tên lựa chọn</label>
        <input [required]="true" type="text" appInput [(ngModel)]="editingSpecItem.SpecName">
      </div>
      <div class="input">
        <label>Trạng thái</label>
        <select [required]="true" [(ngModel)]="editingSpecItem.Status" appSelect>
          <option [value]="1">Kích hoạt</option>
          <option [value]="0">Hủy kích hoạt</option>
        </select>
      </div>
      <div class="input" *ngIf="specParents?.length > 0">
        <label>Quan hệ liên kết</label>
        <div class="relationship">
          <div *ngFor="let spec of specParents">
            <div *ngIf="spec.ParentID">
              <input type="checkbox" appInput [checked]="idSpecCheck(editingSpecItem, spec.SpecID)"
                     (change)="specRelationshipChange($event, editingSpecItem.SpecID, spec.SpecID)">
              <label>{{spec.SpecName}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-modal-body>
  <app-modal-footer>
    <div class="left-section">
      <button appButton background="bg-red" (click)="deleteSpec()">Xóa</button>
    </div>
    <div class="right-section">
      <div class="btn-group">
        <button appButton background="bg-gray" (click)="closeModal('edit-spec-item-modal')">Đóng</button>
        <button appButton background="bg-orange" (click)="updateSpecItem()">Lưu lại</button>
      </div>
    </div>
  </app-modal-footer>
</ng-template>
