<div class="item-list">
  <div class="row">
    <div class="col item">
      <img class="item-img" src="assets/imgs/service-1.png" alt="An toàn & vệ sinh lao động">
      <div class="item-name">An toàn & vệ sinh lao động</div>
    </div>
    <div class="col item">
      <img class="item-img" src="assets/imgs/service-2.png" alt="Dụng cụ  & vật tư">
      <div class="item-name">Dụng cụ & vật tư</div>
    </div>
    <div class="col item">
      <img class="item-img" src="assets/imgs/service-3.png" alt="Thiết bị trong nhà & ngoài nhà">
      <div class="item-name">Thiết bị trong nhà & ngoài nhà</div>
    </div>
    <div class="col item">
      <img class="item-img" src="assets/imgs/service-4.png" alt="Xe & máy">
      <div class="item-name">Xe & máy</div>
    </div>
  </div>
  <div class="row">
    <div class="col item">
      <img class="item-img" src="assets/imgs/service-5.png" alt="Kết cấu & xây trát">
      <div class="item-name">Kết cấu & xây trát</div>
    </div>
    <div class="col item">
      <img class="item-img" src="assets/imgs/service-6.png" alt="Ván khuôn & giàn giáo">
      <div class="item-name">Ván khuôn & giàn giáo</div>
    </div>
    <div class="col item">
      <img class="item-img" src="assets/imgs/service-7.png" alt="Cơ điện">
      <div class="item-name">Cơ điện</div>
    </div>
    <div class="col item">
      <img class="item-img" src="assets/imgs/service-8.png" alt="Hoàn thiện">
      <div class="item-name">Hoàn thiện</div>
    </div>
  </div>
</div>
