$color-gray-l1: #929292;
$color-gray-l2: #A1A1A1;
$color-gray-l3: #B1B1B1;
$color-gray-l4: #C0C0C0;
$color-gray-l5: #D0D0D0;
$color-gray-l6: #E0E0E0;
$color-gray-l7: #EFEFEF;

$color-orange-l1: #FE9F38;
$color-orange-l2: #FEAD55;
$color-orange-l3: #FEBA72;
$color-orange-l4: #FEC88E;
$color-orange-l5: #FFD6AA;

$color-red-l1: #C81E1E;
$color-red-l2: #E02E2E;
$color-red-l3: #E55151;
$color-red-l4: #EA7474;
$color-red-l5: #EF9696;

$color-blue-l1: #52B2D4;
$color-blue-l2: #6CBDDA;
$color-blue-l3: #85C8E0;
$color-blue-l4: #91CDE3;
$color-blue-l5: #A9D8EA;

$color-black-l1: #000000;
$color-black-l2: #121212;
$color-black-l3: #242424;
$color-black-l4: #373737;
$color-black-l5: #5B5B5B;

$color-black-l1-alpha-50: rgba(0, 0, 0, 0.5);

$color-white-l1: #FFFFFF;
