<div class="order-page">
  <div class="row my-3 py-2 title">
    <div class="col-6 block-left">
      <h5 class="font-weight-bold">DANH SÁCH ĐƠN HÀNG</h5>
    </div>
    <div class="col-6 d-flex flex-row-reverse search-bar">
      <button appButton [width]="50" background="bg-dark" (click)="search()">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
      <input type="text" appInput [width]="300" [(ngModel)]="keySearch">
    </div>
  </div>

  <div class="order-content">
    <div class="row my-2">
      <div class="col-5 d-flex flex-row">
        <label><span class="label-orange">Hiển thị:</span> {{pagination.data ? pagination.data.length : 0}}/{{pagination.totalItem ? pagination.totalItem : 0}} đơn hàng</label>
      </div>
      <div class="col-7 d-flex flex-row-reverse">
        <div class="dropdown-sort">
          <div class="dropdown">
            <button class="dropbtn">Trạng thái <span><fa-icon [icon]="faSortDown"></fa-icon></span></button>
            <div class="dropdown-content">
              <a *ngFor="let item of orderStatusState; let i = index" (click)="sort(i)">{{item.label}}</a>
            </div>
          </div>
        </div>
        <label class="label-orange">Lọc theo: </label>
      </div>
    </div>
    <div class="py-2">
      <table class="table">
        <thead class="table-head">
          <tr class="col">
            <th style="width: 15%">Mã đơn hàng</th>
            <th style="width: 15%">Ngày xuất</th>
            <th style="width: 15%">Tên khách hàng</th>
            <th style="width: 25%">Trạng thái</th>
            <th style="width: 15%">Người tạo</th>
            <th style="width: 15%">Ngày tạo</th>
         </tr>
        </thead>
        <tbody>
        <tr class="col" *ngFor="let item of listOrder">
          <td style="width: 15%"><a (click)="gotoDetail(item.ExportID)">{{item.Code}}</a></td>
          <td style="width: 15%">{{item.DateCreated | date:'yyyy-MM-dd H:mm'}}</td>
          <td style="width: 15%">{{item.NameCustomer}}</td>
          <td style="width: 25%">
            <div class="row">
              <input class="status-input" type="text" appInput [width]="150" [value]="getStatusLabel(item)" disabled>
              <button class="status-button" (click)="openStatusMadal(item)" appButton [width]="30">
                <fa-icon [icon]="faEllipsisH"></fa-icon>
              </button>
            </div>
          </td>
          <td style="width: 15%">{{item.UserCreated}}</td>
          <td style="width: 15%">{{item.DateCreated | date:'yyyy-MM-dd H:mm'}}</td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="isLoading" class="spinner-loading">
        <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
      </div>
      <div class="my-3" *ngIf="!isLoading && !pagination.data">
        <p>Chưa có dữ liệu</p>
      </div>
      <div class="paging" *ngIf="pagination.data">
        <app-pagination [pagination]="pagination" (pageChange)="onPageChange($event)"></app-pagination>
      </div>
    </div>
  </div>
</div>

<app-modal id="status-modal" [width]="650" [contentTemplate]="statusModal"></app-modal>
<ng-template #statusModal>
  <app-modal-header>
    <div style="margin: auto; padding-top: 10px">
      <app-order-status [order]="selectedOrder"></app-order-status>
    </div>
  </app-modal-header>
  <app-modal-footer>
    <div class="left-section">
      <h5>Đơn hàng: {{selectedOrder.Code}}</h5>
      <span>Đặt ngày: {{selectedOrder.DateCreated | date:'yyyy-MM-dd H:mm'}} &middot; {{getStatusLabel(selectedOrder)}}</span>
    </div>
    <div class="right-section">
      <div class="btn-group">
        <button appButton background="bg-orange" (click)="closeModal('status-modal')"><fa-icon [icon]="faWindowClose"></fa-icon>Hủy</button>
        <button appButton background="bg-orange"><fa-icon [icon]="faClone"></fa-icon>Duyệt</button>
      </div>
    </div>
  </app-modal-footer>
</ng-template>
