@import "src/app/shared/scss/core-variables";
.order-page {
  .title {
    border-bottom: $color-gray-l4 1px solid;
  }

  .block-left {

  }

  .search-bar {
    .core-input {
      border-radius: 0;
      border: 1px solid $color-gray-l5;
    }
  }

  .block-right {
    position:  absolute;
    right: 0;
  }

  .label-orange {
    font-weight: bold;
    color: $color-orange-l1;
  }

  .dropdown-sort {
    padding-left: 20px;
  }

  .table-head {
    color: #FFFFFF;
    background-color: $color-orange-l1;
  }

  /* css dropdown sort */
  .dropbtn {
    vertical-align: middle;
    background-color: #FFFFFF;
    color: $color-black-l1;
    border: none;
    cursor: pointer;
    padding: 2px 3px;
    margin-bottom: -1px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    //background-color: #c8cbc8;
  }

  /* css dropdown sort */

  .status-input {
    border-radius: 7px 0px 0px 7px;
  }

  .status-button {
    background-color: $color-orange-l1;
    color: #FFFFFF;
    border-radius: 0px 7px 7px 0px;
  }

  .spinner-loading {
    text-align: center;
    margin-top: 30px;
  }
}
