<div>
  <nav class="nav-bar">
    <div class="left">
      <div class="name">Helios</div>
      <div class="desc">Cung cấp giải pháp & vật liệu trong xây dựng</div>
    </div>
    <div class="right">
      <fa-icon [icon]="faUser" size="lg"></fa-icon>
      <span class="username">{{user?.Name}}</span>
    </div>
  </nav>
  <div class="base-bar">
    <div class="breadcrumb">
      <span class="crumb">Home</span>
    </div>

    <div class="menu">
      <button appButton background="bg-transparent" (click)="isMenuShow = true">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </div>
  </div>
  <div class="helios-container">
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="isMenuShow" class="menu-bar" [@slideToggle]>
    <div class="header" *ngIf="isMenuShow">
      <div class="title">Danh mục quản lý</div>
      <button appButton background="bg-transparent" (click)="isMenuShow = false">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
    <div class="body" *ngIf="isMenuShow">
      <ul>
        <li class="item">Quản lý danh mục</li>
        <li class="item" (click)="redirectTo('product')">Quản lý sản phẩm</li>
        <li class="item">Quản lý kho</li>
        <li class="item" (click)="redirectTo('order')">Quản lý đơn hàng</li>
        <li class="item">Quản lý khách hàng</li>
        <li class="item">Thống kê</li>
      </ul>
    </div>
  </div>
</div>

