@import "src/app/shared/scss/core-variables.scss";

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 100px;
  justify-content: space-between;
  border-bottom: 1px solid $color-gray-l5;

  .left {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .name {
      margin-top: auto;
      margin-right: 10px;
      font-size: 44px;
      color: $color-orange-l1;
      font-weight: 600;
      line-height: 0.8;
    }

    .desc {
      text-transform: uppercase;
      color: $color-black-l4;
    }
  }

  .right {

    .icon {
      color: $color-black-l4;
    }

    .username {
      margin-left: 10px;
      color: $color-orange-l1;
    }
  }
}

.base-bar {
  display: flex;
  padding: 5px 100px;
  background-color: $color-gray-l7;
  align-items: center;
  justify-content: space-between;

  .breadcrumb {
    margin-bottom: 0;

    .crumb {
      cursor: pointer;

      &:last-child {
        color: $color-orange-l1;
      }


      &:not(:last-child):after {
        content: " / ";
      }
    }
  }

  .menu {
    .core-button {
      padding: 8px 0;
    }
  }
}

.helios-container {
  padding: 0 100px;
}

.menu-bar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  box-sizing: content-box;
  overflow: hidden;
  border-left: 1px solid $color-gray-l5;
  background: $color-white-l1;
  white-space: nowrap;
  z-index: 10;

  .header {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 600;
    }

    .core-button {
      color: $color-orange-l1;
    }

    border-bottom: 1px solid $color-gray-l5;
  }

  .body {

    .item {
      list-style-type: circle;
      cursor: pointer;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        cursor: pointer;

        &:nth-child(n) {
          border-bottom: 1px solid $color-gray-l5;
        }

        &:hover {
          background-color: $color-orange-l2;
          color: $color-white-l1;
        }

        &:hover:before {
          color: $color-white-l1;
        }


        &:before {
          content: "\2022";
          color: $color-orange-l1;
          font-size: 20px;
          height: 32px;
          display: flex;
          align-items: center;
          width: 20px;
        }
      }
    }

  }
}
