@import "src/app/shared/scss/core-variables.scss";

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 100px;
  justify-content: space-between;
  border-bottom: 1px solid $color-gray-l5;

  .left {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .name {
      margin-top: auto;
      margin-right: 10px;
      font-size: 44px;
      color: $color-orange-l1;
      font-weight: 600;
      line-height: 0.8;
    }

    .desc {
      text-transform: uppercase;
      color: $color-black-l4;
    }
  }

  .right {
    display: flex;
    gap: 20px;

    &:nth-child(n) {
      cursor: pointer;
    }

    .notification {
      width: 20px;
      height: 100%;
      position: relative;

      .badge {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: $color-red-l3;
        padding: .25em .4em;
      }
    }

    .icon {
      color: $color-black-l4;
    }

    .username {
      margin-left: 10px;
      color: $color-orange-l1;
    }
  }
}

.base-bar {
  display: flex;
  padding: 5px 100px;
  background-color: $color-gray-l7;
  align-items: center;
  justify-content: space-between;

  .breadcrumb {
    margin-bottom: 0;

    .crumb {
      cursor: pointer;

      &:last-child {
        color: $color-orange-l1;
      }


      &:not(:last-child):after {
        content: " / ";
      }
    }
  }

  .menu {
    .core-button {
      padding: 8px 0;
    }
  }
}

.helios-container {
  padding: 0 100px;
}

.menu-bar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  box-sizing: content-box;
  overflow: hidden;
  border-left: 1px solid $color-gray-l5;
  background: $color-white-l1;
  white-space: nowrap;
  z-index: 10;

  .header {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 600;
    }

    .core-button {
      color: $color-orange-l1;
    }

    border-bottom: 1px solid $color-gray-l5;
  }

  .body {

    .item {
      list-style-type: circle;
      cursor: pointer;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        cursor: pointer;

        &:nth-child(n) {
          border-bottom: 1px solid $color-gray-l5;
        }

        &:hover {
          background-color: $color-orange-l2;
          color: $color-white-l1;
        }

        &:hover:before {
          color: $color-white-l1;
        }


        &:before {
          content: "\2022";
          color: $color-orange-l1;
          font-size: 20px;
          height: 32px;
          display: flex;
          align-items: center;
          width: 20px;
        }
      }
    }
  }
}
.notification-header {
  padding: 5px 5px 10px 5px;
  text-transform: uppercase;
  border-bottom: 1px solid $color-gray-l5;
}

.notification-content {
  width: 100%;
  padding: 5px 10px;
  min-height: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;


  &:hover {
    background-color: $color-gray-l7;
  }

  .title-group {
    display: flex;
    align-items: center;
    gap: 10px;

    .tg-1 {
      display: flex;
      flex-direction: column;
      flex: 1;

      .title {
        font-weight: 600;
      }

      .time {
        color: $color-black-l3;
        font-size: 10px;
        font-weight: 600;
      }
    }
  }


  .description {
    color: $color-gray-l1;
    //font-size: 12px;
  }
}

.unread {
  background-color: $color-blue-l1;

  .description {
    color: $color-black-l3;
  }

  &:hover {
    background-color: $color-blue-l3;
  }
}

::ng-deep .mat-menu-panel {
  min-width: 300px !important;
  max-width: 300px !important;
  min-height: 76px !important;
  max-height: calc(100vh - 300px) !important;
}
