<div>
  <nav class="nav-bar">
    <div class="left">
      <div class="name">Helios</div>
      <div class="desc">Cung cấp giải pháp & vật liệu trong xây dựng</div>
    </div>
    <div class="right">
      <div class="notification">
        <fa-icon [matMenuTriggerFor]="notificationDd" class="notification" [icon]="faBell" size="lg">
        </fa-icon>
        <span *ngIf="unreadNotifications()" class="badge">{{unreadNotifications()}}</span>
        <mat-menu #notificationDd="matMenu" xPosition="before" style="width: 350px">
          <div class="notification-header">
            Thông báo
          </div>
          <div class="notification-content" *ngIf="!notifications.length">
            <span class="title">Không có thông báo</span>
          </div>
          <div class="notification-content" [class.unread]="!notification.IsRead"
               *ngFor="let notification of notifications" (click)="readNotification(notification)">
            <div class="title-group">
              <fa-icon [icon]="faBullhorn" size="lg"></fa-icon>
              <div class="tg-1">
                <div class="title">{{notification.Title}}</div>
                <div class="time">{{notification.CreatedDate | date: 'dd/MM hh:mm'}}</div>
              </div>
              <fa-icon [icon]="faTimesCircle" size="lg" (click)="deleteNotification(notification)"
                       matTooltip="Xóa thông báo này"
                       matTooltipPosition="above">
              </fa-icon>
            </div>
            <div class="description">{{notification.Message}}</div>
          </div>
        </mat-menu>
      </div>
      <div>

        <div class="user-info" [matMenuTriggerFor]="menuItem">
          <fa-icon [icon]="faUser" size="lg"></fa-icon>
          <span class="username">{{user?.Name}}</span>
        </div>
        <mat-menu #menuItem="matMenu">
          <button mat-menu-item (click)="changePassword()">Đổi mật khẩu</button>
          <button mat-menu-item (click)="logout()">Đăng xuất</button>
        </mat-menu>
      </div>
    </div>
  </nav>
  <div class="base-bar">
    <div class="breadcrumb">
      <span class="crumb" routerLink="/">Home</span>
    </div>

    <div class="menu">
      <button appButton background="bg-transparent" (click)="isMenuShow = true">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </div>
  </div>
  <div class="helios-container">
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="isMenuShow" class="menu-bar" [@slideToggle]>
    <div class="header" *ngIf="isMenuShow">
      <div class="title">Danh mục quản lý</div>
      <button appButton background="bg-transparent" (click)="isMenuShow = false">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
    <div class="body" *ngIf="isMenuShow">
      <ul>
        <li class="item" *ngIf="isInGroup(user.TypeUser, 1, 5)" [routerLink]="['/type-product']" (click)="closeMenu()">Quản lý danh mục</li>
        <li class="item" *ngIf="isInGroup(user.TypeUser, 1, 5)" [routerLink]="['/product']"
            [queryParams]="{category: 'all'}" (click)="closeMenu()">Quản lý sản
          phẩm
        </li>
        <li class="item" *ngIf="isInGroup(user.TypeUser, 1, 5)" [routerLink]="['/product-confirmation']"
            (click)="closeMenu()">
          Duyệt sản phẩm
        </li>
        <li class="item" [routerLink]="['/store']" (click)="closeMenu()">Quản lý kho</li>
        <li class="item" *ngIf="isInGroup(user.TypeUser, 1, 4)" [routerLink]="['/order']" (click)="closeMenu()">Quản lý
          đơn hàng
        </li>
        <li class="item" *ngIf="isInGroup(user.TypeUser, 1)" [routerLink]="['/user']" (click)="closeMenu()">Quản lý tài
          khoản
        </li>
        <li class="item" *ngIf="isInGroup(user.TypeUser, 1)" [routerLink]="['/customer']" (click)="closeMenu()">Quản lý
          khách hàng
        </li>
        <li class="item" *ngIf="isInGroup(user.TypeUser, 1, 5)" [routerLink]="['/company']" (click)="closeMenu()">Quản lý
          công ty
        </li>
        <li class="item" *ngIf="isInGroup(user.TypeUser, 1, 3, 5)" [routerLink]="['/news']" (click)="closeMenu()">Quản lý
          tin tức
        </li>
        <!-- <li class="item" [routerLink]="['/surcharge']" (click)="closeMenu()">Quản lý phụ thu</li> -->
      </ul>
    </div>
  </div>
</div>

