<div>
  <div class="slider">
    <div class="action">
      <button appIconButton background="bg-orange">
        <fa-icon [icon]="faAngleLeft"></fa-icon>
      </button>
    </div>
    <div class="preview">
      <div class="category parent" *ngIf="!currentCategory">
        <input type="radio" id="0" name="category" [checked]="true">
        <label>Tất cả</label>
      </div>
      <div class="category parent" *ngIf="currentCategory">
        <input type="radio" id="current" name="category" [checked]="true">
        <label>{{currentCategory.NameType}}</label>
      </div>
      <div class="category" *ngFor="let category of categories">
        <input type="radio" [id]="category.TypeProductID.toString()" name="category"
               [checked]="false">
        <label (click)="updateCategory(category)">{{category.NameType}}</label>
      </div>
    </div>
    <div class="action">
      <button appIconButton background="bg-orange">
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </button>
    </div>
  </div>

  <div class="action-bar">
    <div class="category-name">{{!!currentCategory ? currentCategory.NameType : 'Tất cả danh mục'}}</div>
    <div class="action-group">
      <fa-icon *ngIf="loading" [icon]="faSpinner" [spin]="true"></fa-icon>
      <div class="search-bar">
        <input type="text" appInput [width]="300" [(ngModel)]="searchQuery">
        <button appButton [width]="50" background="bg-dark"
                (click)="searchProduct(searchQuery, currentCategory?.TypeProductID)">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </div>

      <button appButton background="bg-orange" (click)="createProduct()">
        <fa-icon size="sm" [icon]="faPlus"></fa-icon>
        <span>Thêm mới</span>
      </button>
    </div>
  </div>

  <div class="filter-bar">
    <div>
      <label class="label">Hiển thị:'&nbsp;'</label>
      <label class="value">{{products.length}}/{{pagination.totalItem}} sản phẩm
        (từ {{(pagination.page - 1) * pagination.size}} - {{(pagination.page - 1) * pagination.size + products.length}})
      </label>
    </div>
    <div class="filter-group">
      <!--      <div class="label w-100">Lọc theo:</div>-->
      <!--      <div class="w-100">Sản phẩm</div>-->
      <!--      <div class="w-100">Giá</div>-->
      <!--      <div class="w-100">Hãng</div>-->
      <div class="display">
        <fa-icon [class.active]="display == 'list'" (click)="changeDisplay('list')" [icon]="faBars"></fa-icon>
        <fa-icon [class.active]="display == 'grid'" (click)="changeDisplay('grid')" [icon]="faTh"></fa-icon>
      </div>
    </div>
  </div>

  <div [class.product-grid]="display == 'grid'" [class.product-list]="display == 'list'">
    <div class="product" *ngFor="let product of products" (click)="display == 'grid' && viewDetail(product)">
      <div class="image">
        <img [src]="getUrl(product)" alt="">
      </div>
      <div class="info">
        <div class="product-name">{{product.NameProduct}}</div>
        <del class="base-cost">{{product.AmountBuy | vnd}}</del>
        <div class="discounted-cost">{{product.AmountSale | vnd}}</div>
        <!--        <div class="producer">{{product.Code}}</div>-->
        <div class="rating">
          <fa-icon class="star" [icon]="faStar"></fa-icon>
          <span class="star">{{product.Rating}}</span>
          <span class="comment">({{product.CountNumberRating}} đánh giá)</span>
        </div>
      </div>
      <div *ngIf="display == 'grid'" class="discount">
        <span>-{{product.DiscountProvider}}%</span>
      </div>
      <div *ngIf="display == 'list'">
        <button appButton background="bg-dark" (click)="viewDetail(product)">
          <fa-icon [icon]="faEye"></fa-icon>
          <span>Chi tiết</span>
        </button>
      </div>
    </div>
  </div>


  <div class="filter-bar">
    <div>
      <label class="label">Hiển thị:'&nbsp;'</label>
      <label class="value">{{products.length}}/{{pagination.totalItem}} sản phẩm
        (từ {{(pagination.page - 1) * pagination.size}} - {{(pagination.page - 1) * pagination.size + products.length}})
      </label>
    </div>
    <div class="filter-group">
      <!--      <div class="label w-100">Lọc theo:</div>-->
      <!--      <div class="w-100">Sản phẩm</div>-->
      <!--      <div class="w-100">Giá</div>-->
      <!--      <div class="w-100">Hãng</div>-->
      <div class="display">
        <fa-icon [class.active]="display == 'list'" (click)="display = 'list'" [icon]="faBars"></fa-icon>
        <fa-icon [class.active]="display == 'grid'" (click)="display = 'grid'" [icon]="faTh"></fa-icon>
      </div>
    </div>
  </div>

  <div class="paging">
    <app-pagination [pagination]="pagination" (pageChange)="onPageChange($event)"></app-pagination>
  </div>
</div>
