@import "src/app/shared/scss/core-variables";
.news-page {

  .search-bar {
    .core-input {
      border-radius: 0;
      border: 1px solid $color-gray-l5;
    }
  }

  .label-orange {
    font-weight: bold;
    color: $color-orange-l1;
  }

  .dropdown-sort {
    padding-left: 20px;
  }

  /* css dropdown sort */
  .dropbtn {
    vertical-align: middle;
    background-color: #FFFFFF;
    color: $color-black-l1;
    border: none;
    cursor: pointer;
    padding: 2px 3px;
    margin-bottom: -1px;
  }

  .dropdown {
    position: relative;
    display: inline-flex;
    word-break: keep-all;
  }

  .dropdown select {
    padding-top: 1px;
    border: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    //background-color: #c8cbc8;
  }

  /* css dropdown sort */

  .new-img {
    max-width: 100%;
    object-fit: contain;
  }

  .img-padding {
    padding-top: 5px;
    padding-bottom: 5px;
  }

 /* table td {
    vertical-align: top !important;
  }*/

  .text-content {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
  /*  line-height: 16px; !* fallback *!
    max-height: 32px; !* fallback *!*/
    -webkit-line-clamp: 7; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .cursor-pointer {
    cursor: pointer;
  }

}
.img-modal {
  width: 100%;
}

.button-bottom button {
  margin-right: 10px;
}

.invalid-feild {
  border: 1px solid #E02E2E;
}
